.contact__wrapper  {
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;  
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height:30rem;
    margin:7rem auto;
    border-radius: 1rem;
}



/* ======== ASIDE  ===========*/
.contact__aside {
    background: var(--color-primary);
    padding: 1.5rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
    font-size: small;
    margin-top: auto;
    text-align: center;
    align-self: center;
    
    
    
}

.aside__image {
    width: 12rem;
    margin-bottom: 2rem ;
}

.contact__aside h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-decoration: underline;
}

.contact__aside p {
    font-size: 0.7rem;
    margin-bottom: 2rem;
}

.contact__details li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.3rem;
}

.contact__details {
    margin-top: -1rem;
}

.contact__details h5 {
    font-size: 0.5rem;

}

.contact__socials {
    display: flex;
    gap: 0.8rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    text-overflow: inherit;
    margin-left: 2.5rem;
    
}

.contact__socials a {
    background: var(--color-bg2);
    padding: 0.2rem;
    border-radius: 50%;
    font-size: small;
    transition: var(--transition);
    
}

.contact__socials a:hover {
    border: 1px solid;
    background: transparent;
    border-color:aliceblue;
    transition: var(--transition);

}


/* ========= FORM ==========*/
.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem; 
    margin-right: 4rem;
}

.form__name {
    display: flex;
    gap: 1.2rem;
}

.contact2 {
    display: flex;
    flex-direction: column;
    gap: 1.2rem; 
    margin-right: 4rem;
}

.contact__form input[type="text"] {
    width: 50%;
}


input, textarea {
    width: 100%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
}

placeholder {
    color:blue;
}

.contact__form .btn {
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
}

/* ====== MEDIA QUERIES (TABLET) ========= */
@media screen and (max-width: 1024px) {
    .contact__container {
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
        align-self: center;

    }


.contact__aside {
    
    width: fit-content;
    padding: 1.5rem;
    height: auto;
    margin-top: -2rem;
    text-align: center;
    margin-left: -4rem;
}

.contact__aside h2 {
    font-size: 1rem;
}

.footer__container {
    margin-top: -5rem;
}
.contact__form {
    text-align: center;
}
}

/* ====== MEDIA QUERIES (PHONES) ========= */
@media screen and (max-width: 600px) {
    .contact__wrapper {
        grid-template-columns: 1fr;
        gap:3rem;
        margin-top: 2rem;
        margin-left: 0;
        align-self: center;
        text-align: center;
    }

    .contact__aside {
        padding: 1.5rem;
        height: auto;
        margin-top: 0;
        text-align: center;
        margin-left: 0;
        align-items: center;
        text-align: center;
        width: 100%;
    }  

.contact__form {
    margin-top: -8rem;
    
}

.form__name {
    flex-direction: column;
}

.contact__form textarea, input {
    width: 100%;
    border: 1px solid transparent;
    background: transparent;
    border-color: var(--color-white);
}

.form__name input[type="text"] {
    width: 100%;
}
    

.contact__form {
    width: 100%;
}

.footer {
    margin-top: 35rem;
}

}
